@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Red+Hat+Display:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@-webkit-keyframes bodyopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bodyopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide_h1_animation {
  from {
    top: 100px;
  }
  to {
    top: 20px;
  }
}

@keyframes slide_h1_animation {
  from {
    top: 100px;
  }
  to {
    top: 20px;
  }
}

@-webkit-keyframes img_rotate {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes img_rotate {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  opacity: 0;
  -webkit-animation: bodyopacity 1.5s ease 0s 1 forwards;
          animation: bodyopacity 1.5s ease 0s 1 forwards;
  overflow-x: hidden;
  width: 101%;
}

.pad {
  padding-left: 60px;
  padding-right: 60px;
}

nav {
  background-color: #eef0f4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 550px;
      grid-template-columns: 100px 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  z-index: 5;
}

nav ul {
  list-style-type: none;
  font-weight: 600;
}

nav ul li {
  display: inline-block;
}

nav ul li:nth-child(4) a {
  background-color: #081158 !important;
  color: white;
  background: url("./assets/Vector.svg") no-repeat 3% 50%;
  width: 170px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 15px;
  display: block;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

nav ul li:nth-child(4) a:hover {
  padding-left: 50px;
  background-position: 23% 50%;
  opacity: .7;
}

nav ul li:last-child {
  padding: 20px;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: #081158;
  padding: 20px;
  display: block;
}

nav .cart {
  width: 320px;
  height: 342.28px;
  position: fixed;
  background-color: #ffffff;
  top: 70px;
  right: 60px;
  border-radius: 15px;
  -webkit-box-shadow: black 0px 0px 20px 0px;
          box-shadow: black 0px 0px 20px 0px;
  -webkit-animation: cart_animation .5s linear 0s 1 forwards;
          animation: cart_animation .5s linear 0s 1 forwards;
  display: none;
}

nav .cart .cart_header {
  padding: 16px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
}

nav .cart .cart_items_wrapper {
  height: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .cart .cart_items_wrapper h5 {
  font-size: 25px;
}

nav .cart .cart_items_wrapper p {
  color: #081158;
}

@-webkit-keyframes cart_animation {
  from {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes cart_animation {
  from {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.center_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_center {
  text-align: center;
}

.slider {
  display: -ms-grid;
  display: grid;
  background-color: #eef0f4;
  -ms-grid-columns: 47% 47%;
      grid-template-columns: 47% 47%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding-top: 50px !important;
  padding-bottom: 100px !important;
}

.slider h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  color: #8ea5a0;
  position: relative;
  z-index: 1;
  top: 100px;
  -webkit-animation: slide_h1_animation 2s ease 0s 1 forwards;
          animation: slide_h1_animation 2s ease 0s 1 forwards;
  text-transform: capitalize;
}

.slider img {
  border-radius: 10px;
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-animation: img_rotate 1s ease 0s 1 forwards;
          animation: img_rotate 1s ease 0s 1 forwards;
}

.slider .slider_photo_wrapper {
  position: relative;
  overflow: hidden;
}

.slider .arrows {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 4;
  bottom: 50px;
}

.slider .arrow_left,
.slider .arrow_right {
  background-color: rgba(8, 17, 88, 0.2);
  padding: 40px;
  border-radius: 50%;
  border: 2px solid #081158;
  cursor: pointer;
}

.slider .slider_text {
  color: #081158;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slider_text p {
  font-size: 20px;
  margin-bottom: 30px;
}

.slider .slider_text p:first-of-type {
  font-size: 14px;
}

.slider .slider_text h2 {
  font-size: 72px;
  font-weight: 900;
}

.slider .slider_text a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: #081158 !important;
  color: white;
  background: url("./assets/Vector.svg") no-repeat 3% 50%;
  width: 170px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 15px;
  display: block;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px;
}

.slider .slider_text a:hover {
  padding-left: 50px;
  background-position: 23% 50%;
  opacity: .7;
}

.statistic {
  background-color: #081158;
  color: white;
  font-weight: 900;
  text-align: center;
  -webkit-transform: rotate(356deg);
          transform: rotate(356deg);
  margin-top: -75px;
}

.statistic .cards_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 121px 121px 121px;
      grid-template-columns: 121px 121px 121px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.statistic .cards_wrapper h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.statistic .cards_wrapper p {
  font-size: 14px;
}

.coaching {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
  text-align: center;
}

.coaching h2 {
  color: #081158;
  font-size: 64px;
  padding: 0 22%;
  margin-bottom: 30px;
}

.coaching a {
  background-color: #081158 !important;
  color: white;
  background: url("./assets/Vector.svg") no-repeat 3% 50%;
  width: 170px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 15px;
  display: block;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: inline-block;
  width: 215px;
}

.coaching a:hover {
  padding-left: 50px;
  background-position: 23% 50%;
  opacity: .7;
}

.coaching .coaching_card_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47% 47%;
      grid-template-columns: 47% 47%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  color: #081158;
}

.coaching .coaching_card_wrapper img {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: #7979ca 0px 0px 20px 0px;
          box-shadow: #7979ca 0px 0px 20px 0px;
}

.coaching .coaching_card_wrapper h4 {
  font-size: 40px;
  margin-bottom: 5px;
}

.coaching .coaching_card_wrapper .coaching_card_text {
  padding: 0 121px;
}

.coaching .coaching_card_wrapper .coaching_card_text p {
  font-weight: 900;
}

.blue_text {
  color: #081158;
  margin-bottom: 30px !important;
  font-weight: 900;
}

.blue_btn {
  background-color: #081158 !important;
  color: white;
  background: url("./assets/Vector.svg") no-repeat 3% 50%;
  width: 170px;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 15px;
  display: block;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.blue_btn:hover {
  padding-left: 50px;
  background-position: 23% 50%;
  opacity: .7;
}

.paddingTopBottom {
  padding-top: 150px !important;
  padding-bottom: 150px !important;
}

.font90 {
  font-size: 90px;
}

.font20 {
  font-size: 20px;
}

.header_text {
  width: 60%;
}

.flex_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.space_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workouts {
  background-color: #eef0f4;
}

.workouts .workout_card_img img {
  display: block;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.workouts .space_between p:last-child {
  font-family: 'Permanent Marker', cursive;
  color: #ec8675;
}

.workouts .workout_card_text {
  background-color: #fff;
  padding: 30px;
  border-radius: 0 0 15px 15px;
}

.workout_card:hover {
  opacity: .7;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.workout_card {
  -webkit-transition: .5s;
  transition: .5s;
}

a {
  text-decoration: none;
}

.grid_three_columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 450px 450px;
      grid-template-columns: 450px 450px 450px;
  margin-top: 100px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#workouts2 {
  background-color: #081158;
  background-image: url("./assets/Lines.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

#workouts2_h2,
#workouts2_p {
  color: #fff;
}

#workouts2_btn {
  background-color: #fff !important;
  color: #081158 !important;
  background-image: url("./assets/VectorBlack.svg");
}

.sweat {
  height: 390px;
  background-image: url("./assets/lines2.svg"), url("./assets/training-group.png");
  background-repeat: no-repeat, repeat-y;
  background-size: auto, 110%;
  background-position: 0 -240px, 0;
  position: relative;
}

.sweat h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 64px;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
}

.benefit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47% 47%;
      grid-template-columns: 47% 47%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefit h2 {
  font-size: 64px;
}

.benefit .benefit_img {
  text-align: center;
  background-color: #081158;
  background-image: url("./assets/shapes.svg");
}

.benefit .benefit_img img {
  margin-bottom: -40px;
  margin-top: 30px;
  border-radius: 15px;
}

.meal {
  background-image: url("./assets/drink.jpeg");
  background-position: 0 -800px;
  height: 760px;
  background-repeat: no-repeat;
  background-size: cover;
}

.meal .meal_form {
  background-color: #cfddee;
  height: 465px;
  border-radius: 10px;
  padding: 100px;
  text-align: center;
}

.meal .meal_form .meal_form_header {
  padding: 0 19%;
}

.meal .meal_form h2 {
  font-size: 64px;
}

.meal .meal_form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.meal .meal_form form input {
  width: 100%;
}

.meal .meal_form form input:last-child {
  border: none;
  text-align: start;
  padding-left: 25px;
  cursor: pointer;
}

.meal .meal_form form input:last-child:hover {
  padding-left: 120px;
}

.meal .meal_form form input[placeholder] {
  border: none;
  padding: 8px 30px;
  color: #081158;
  background-color: rgba(32, 52, 146, 0.1);
}

.meal .meal_form form input[placeholder]:focus {
  outline: none;
}

.meal .meal_form form input[placeholder]::-webkit-input-placeholder {
  color: #081158;
}

.meal .meal_form form input[placeholder]:-ms-input-placeholder {
  color: #081158;
}

.meal .meal_form form input[placeholder]::-ms-input-placeholder {
  color: #081158;
}

.meal .meal_form form input[placeholder]::placeholder {
  color: #081158;
}

#workouts_header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#workouts_header #header_text {
  text-align: center;
}

#workouts_header #header_text a {
  margin: 0 auto;
  width: 250px;
}

.tricks .workout_card {
  position: relative;
}

.tricks .workout_card_text {
  width: 390px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 5%;
}

.tricks h6 {
  position: absolute;
  top: -20%;
  left: 0;
  background-color: #cfddee;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#tricks_flex_start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#tricks_flex_start p {
  font-family: 'Red Hat Display', sans-serif;
  color: #081158;
  font-weight: 900;
  font-size: 12px;
}

.grid4_400px {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px 400px;
      grid-template-columns: 400px 400px 400px 400px;
}

.social_networks {
  background-color: #eef0f4;
}

.social_networks .pictures_wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120%;
  margin-left: 300px;
}

.social_networks .pictures_wrapper img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.social_networks .social_media_links {
  background-color: #ec8675;
  height: 283.64px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin-top: -25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_networks .social_media_links a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 130px;
      grid-template-columns: 60px 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
  padding: 0 50px;
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
}

.social_networks .social_media_links a:hover {
  opacity: .6;
}

.social_networks #pictures_wrapper2 {
  margin-left: -700px;
}

footer {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  background-color: #081158;
  color: #ffff;
  font-weight: 900;
}

footer .footer_top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
}

footer a {
  display: block;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
  font-size: 30px;
}

footer a:nth-of-type(1) {
  margin-bottom: 15px;
}

footer a:not(.email) {
  margin-bottom: 10px;
}

footer a:hover {
  opacity: 0.5;
}

footer h6 {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
}

footer .footer_bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45px 45px 45px 45px 45px;
      grid-template-columns: 45px 45px 45px 45px 45px;
  gap: 60px;
  margin-top: 70px;
}

footer .footer_bottom div {
  height: 28.84px;
  background-color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_bottom img {
  width: 25px;
  height: 25px;
}

.justify_flex_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=styles.css.map */