$gray:#eef0f4;
$blue:#081158;
$pink:#ec8675;
@mixin topBottomPad($top, $bottom) {
    padding-top: $top!important;
    padding-bottom: $bottom!important;
}

@mixin blueButton {
    background-color: $blue!important;
    color: white;
    background: url("./assets/Vector.svg") no-repeat 3% 50%;
    width: 170px;
    font-size: 20px;
    border-radius: 5px;
    transition: .5s;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 15px;
    display: block;
    @include topBottomPad(10px,
    10px);
    &:hover {
        padding-left: 50px;
        background-position: 23% 50%;
        opacity: .7;
    }
}

@mixin grid($gridTemplateColumns) {
    display: grid;
    grid-template-columns: $gridTemplateColumns;
}

@mixin font($size) {
    font-size: $size;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Red+Hat+Display:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes bodyopacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide_h1_animation {
    from {
        top: 100px;
    }
    to {
        top: 20px
    }
}

@keyframes img_rotate {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(0deg);
    }
}

body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    opacity: 0;
    animation: bodyopacity 1.5s ease 0s 1 forwards;
    overflow-x: hidden;
}

.pad {
    padding-left: 60px;
    padding-right: 60px;
}

nav {
    background-color: $gray;
    display: grid;
    grid-template-columns: 100px 550px;
    justify-content: space-between;
    align-items: center;
    @include topBottomPad(10px,
    10px);
    position: sticky;
    top: 0;
    text-transform: capitalize;
    z-index: 5;
    ul {
        list-style-type: none;
        font-weight: 600;
        z-index: 7;
        li {
            display: inline-block;
            &:nth-child(4) a {
                @include blueButton();
            }
            &:last-child {
                padding: 20px;
                cursor: pointer;
            }
        }
        a {
            text-decoration: none;
            color: $blue;
            padding: 20px;
            display: block;
        }
    }
    .cart {
        width: 320px;
        height: 342.28px;
        position: fixed;
        background-color: #ffffff;
        top: 70px;
        right: 60px;
        border-radius: 15px;
        box-shadow: black 0px 0px 20px 0px;
        animation: cart_animation .5s linear 0s 1 forwards;
        display: none;
        z-index: 7;
        .cart_header {
            padding: 16px 24px;
            align-items: center;
            height: 15%;
        }
        .cart_items_wrapper {
            height: 75%;
            flex-direction: column;
            h5 {
                @include font(25px);
            }
            p {
                color: $blue;
            }
        }
    }
}

.active {
    color: #0043ff;
}

@keyframes cart_animation {
    from {
        transform: translate(0, -10px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.center_elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.slider {
    display: grid;
    background-color: $gray;
    grid-template-columns: 47% 47%;
    justify-content: space-between;
    overflow: hidden;
    @include topBottomPad(50px,
    100px);
    h1 {
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: 64px;
        color: #8ea5a0;
        position: relative;
        z-index: 1;
        top: 100px;
        animation: slide_h1_animation 2s ease 0s 1 forwards;
        text-transform: capitalize;
    }
    img {
        border-radius: 10px;
        position: relative;
        z-index: 2;
        transform: rotate(5deg);
        animation: img_rotate 1s ease 0s 1 forwards;
    }
    .slider_photo_wrapper {
        position: relative;
        overflow: hidden;
    }
    .arrows {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-around;
        z-index: 4;
        bottom: 50px;
    }
    .arrow_left,
    .arrow_right {
        background-color: rgba(8, 17, 88, 0.2);
        padding: 40px;
        border-radius: 50%;
        border: 2px solid $blue;
        cursor: pointer;
    }
    .slider_text {
        color: $blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        p {
            &:first-of-type {
                font-size: 14px;
            }
            font-size: 20px;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 72px;
            font-weight: 900;
        }
        a {
            text-decoration: none;
            text-transform: capitalize;
            @include blueButton();
            padding-left: 15px;
        }
    }
}

.statistic {
    background-color: $blue;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-top: -75px;
    .cards_wrapper {
        @include grid(121px 121px 121px);
        justify-content: space-around;
        @include topBottomPad(80px,
        80px);
        h3 {
            font-size: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 14px;
        }
    }
}

.coaching {
    @include topBottomPad(150px,
    150px);
    text-align: center;
    h2 {
        color: $blue;
        font-size: 64px;
        padding: 0 22%;
        margin-bottom: 30px;
    }
    a {
        @include blueButton();
        display: inline-block;
        width: 215px;
    }
    .coaching_card_wrapper {
        @include grid(47% 47%);
        @include topBottomPad(50px,
        50px);
        justify-content: space-between;
        gap: 50px;
        color: $blue;
        img {
            border-radius: 5px;
            width: 300px;
            height: 300px;
            object-fit: cover;
            box-shadow: #7979ca 0px 0px 20px 0px;
        }
        h4 {
            font-size: 40px;
            margin-bottom: 5px;
        }
        .coaching_card_text {
            padding: 0 121px;
            p {
                font-weight: 900;
            }
        }
    }
}

.blue_text {
    color: $blue;
    margin-bottom: 30px!important;
    font-weight: 900;
}

.blue_btn {
    @include blueButton();
}

.paddingTopBottom {
    @include topBottomPad(150px,
    150px);
}

.font90 {
    @include font(90px);
}

.font20 {
    @include font(20px)
}

.header_text {
    width: 60%;
}

.flex_start {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.workouts {
    background-color: $gray;
    .workout_card_img {
        img {
            display: block;
            height: 400px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }
    }
    .space_between p:last-child {
        font-family: 'Permanent Marker', cursive;
        color: $pink;
    }
    .workout_card_text {
        background-color: #fff;
        padding: 30px;
        border-radius: 0 0 15px 15px;
    }
}

.workout_card:hover {
    opacity: .7;
    transform: translate(0, -10px);
}

.workout_card {
    transition: .5s;
}

a {
    text-decoration: none;
}

.grid_three_columns {
    @include grid(450px 450px 450px);
    margin-top: 100px;
    width: 100%;
    justify-content: space-between;
    row-gap: 25px;
}

#workouts2 {
    background-color: $blue;
    background-image: url("./assets/Lines.svg");
    background-repeat: no-repeat;
    background-position: top right;
}

#workouts2_h2,
#workouts2_p {
    color: #fff;
}

#workouts2_btn {
    background-color: #fff!important;
    color: $blue!important;
    background-image: url("./assets/VectorBlack.svg");
}

.sweat {
    height: 390px;
    background-image: url("./assets/lines2.svg"), url("./assets/training-group.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
    background-position: 0 -240px, 0;
    position: relative;
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include font(64px);
        font-family: 'Permanent Marker', cursive;
        color: #fff;
    }
}

.benefit {
    @include grid(47% 47%);
    justify-content: space-between;
    h2 {
        @include font(64px);
    }
    ol {
        list-style-type: decimal-leading-zero;
        list-style-position: inside;
        li::marker {
            font-family: 'Permanent Marker', cursive;
            color: #8ea5a0;
            font-size: 25px;
        }
    }
    .benefit_img {
        text-align: center;
        background-color: $blue;
        background-image: url("./assets/shapes.svg");
        img {
            margin-bottom: -40px;
            margin-top: 30px;
            border-radius: 15px;
            width: 70%;
            height: 480px;
            object-fit: cover;
        }
    }
}

.meal {
    background-image: url("./assets/drink.jpeg");
    background-position: 0 -800px;
    background-repeat: no-repeat;
    background-size: cover;
    .meal_form {
        background-color: #cfddee;
        border-radius: 10px;
        padding: 100px;
        text-align: center;
        .meal_form_header {
            padding: 0 19%;
        }
        h2 {
            @include font(64px);
        }
        form {
            @include grid(33% 33% 33%);
            justify-content: space-between;
            height: 60px;
            input {
                width: 100%;
            }
            & input:last-child {
                border: none;
                text-align: start;
                padding-left: 25px;
                cursor: pointer;
                &:hover {
                    padding-left: 120px;
                }
            }
            input[placeholder] {
                border: none;
                padding: 8px 30px;
                color: $blue;
                background-color: rgba(32, 52, 146, 0.1);
                border-radius: 5px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: $blue;
                }
            }
        }
    }
}

#workouts_header {
    align-items: center;
    #header_text {
        text-align: center;
        a {
            margin: 0 auto;
            width: 250px;
        }
    }
}

.tricks {
    .workout_card {
        position: relative;
    }
    .workout_card_text {
        width: 390px;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 5%;
    }
    h6 {
        position: absolute;
        top: -20%;
        left: 0;
        background-color: #cfddee;
        padding: 5px;
        border-radius: 5px;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

#tricks_flex_start {
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    p {
        font-family: 'Red Hat Display', sans-serif;
        color: $blue;
        font-weight: 900;
        font-size: 12px;
    }
}

.grid4_400px {
    @include grid(400px 400px 400px 400px);
}

.social_networks {
    background-color: $gray;
    overflow-x: hidden;
    .pictures_wrapper {
        justify-content: space-between;
        width: 120%;
        margin-left: 300px;
        img {
            height: 400px;
            object-fit: cover;
            border-radius: 15px;
            padding: 10px;
        }
    }
    .social_media_links {
        background-color: #ec8675;
        height: 283.64px;
        transform: rotate(2deg);
        margin-top: -25px;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        a {
            @include grid(60px 130px);
            align-items: center;
            font-size: 30px;
            color: #ffffff;
            font-weight: 900;
            padding: 0 50px;
            transition: .5s opacity;
            &:hover {
                opacity: .6;
            }
        }
    }
    #pictures_wrapper2 {
        margin-left: -700px;
    }
}

footer {
    @include topBottomPad(100px,
    100px);
    background-color: $blue;
    color: #ffff;
    font-weight: 900;
    .footer_top {
        @include grid(33.33% 33.33% 33.33%);
    }
    a {
        display: block;
        color: #ffffff;
        cursor: pointer;
        transition: .5s opacity;
        &:nth-of-type(1) {
            margin-bottom: 15px;
        }
        &:not(.email) {
            margin-bottom: 10px;
        }
        @include font(30px);
        &:hover {
            opacity: 0.5;
        }
    }
    h6 {
        margin-bottom: 15px;
        @include font(15px);
        font-weight: 100;
        text-transform: uppercase;
    }
    .footer_bottom {
        @include grid(45px 45px 45px 45px 45px);
        gap: 60px;
        margin-top: 70px;
        & div {
            height: 28.84px;
            background-color: #ffffff;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 25px;
            height: 25px;
        }
    }
}

.justify_flex_start {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#about_page_header {
    background-image: url("./assets/Green_Lines.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.video_wrapper {
    padding: 0 20px;
    position: relative;
    transition: .5s;
    &:hover {
        opacity: .8;
    }
    .play_btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid #fff;
    }
}

header {
    background-color: $gray;
    position: relative;
}

.h_text {
    height: 200px;
    background-color: #cfddee;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
        color: #081158;
    }
}

.background {
    img:first-child {
        height: 700px;
        object-fit: cover;
        display: block;
    }
    img:last-child {
        position: absolute;
        bottom: 0;
        right: 60px;
    }
}

.w100 {
    width: 100%;
}

.filter_wrapper {
    @include font(20px);
    padding-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
    flex-wrap: wrap;
    row-gap: 10px;
}

.filter_btns a {
    padding: 12px 20px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    color: $blue;
    transition: .2s;
    &:hover {
        transform: translate(0, -3px);
    }
}

.categories {
    color: $blue;
}

#filter_active {
    background-color: #8ea5a0;
    color: #fff;
    border-radius: 10px;
}

.flex_only {
    display: flex;
}

.align_items_center {
    align-items: center;
}

.all_margin_bottom * {
    margin-bottom: 30px!important;
}

.all_margin_bottom p {
    font-size: 20px!important;
}

.conact_form {
    background-color: #cfddee;
    padding: 50px;
    form {
        @include grid(47% 47%);
        gap: 25px;
        grid-template-rows: 60px 60px 100px 60px;
        input {
            padding: 8px 30px;
            border: none;
            background-color: rgba(32, 52, 146, 0.1);
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $blue;
            }
        }
        textarea {
            padding: 8px 30px;
            border: none;
            background-color: rgba(32, 52, 146, 0.1);
            grid-column: 1/3;
            padding: 20px 30px 8px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $blue;
            }
        }
    }
}

.border_radius {
    border-radius: 10px;
}

.burger_btn_wrapper {
    display: none;
}

.responsive_nav {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 6;
    height: 100%;
    width: 280px;
    background-color: #cfddee;
    li {
        display: block;
    }
}

.slideIn {
    animation: slideIn .5s ease-in-out forwards;
}

.slideOut {
    animation: slideOut .5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
}

@media (max-width:320px) {
    .coaching h2 {
        font-size: 9vw!important;
    }
}

@media (max-width:334px) {
    nav .cart .cart_items_wrapper {
        padding: 0 5px!important;
    }
}

@media (max-width:364px) {
    footer a {
        font-size: 25px!important;
    }
}

@media (max-width:378px) {
    footer {
        padding-left: 23px!important;
    }
}

@media (max-width:382px) {
    .filter_btns a {
        font-size: 4vw!important;
    }
}

@media (max-width:400px) {
    .cart {
        width: 70%!important;
        right: 30px!important;
    }
}

@media (max-width:432px) {
    .pad {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
}

@media (max-width:508px) {
    .statistic .cards_wrapper {
        grid-template-columns: 121px!important;
        .statistic_card {
            margin-bottom: 30px;
        }
    }
}

@media (max-width:528px) {
    .tricks .workout_card_text {
        width: 90%!important;
    }
}

@media (max-width:535px) {
    .footer_bottom {
        gap: 10px!important;
    }
    .coaching {
        padding: 150px 0!important;
        .coaching_card img {
            width: 100%!important;
        }
    }
}

@media (max-width:554px) and (min-width:321px) {
    .coaching h2 {
        font-size: 10vw!important;
    }
}

@media (max-width:556px) {
    .conact_form form {
        grid-template-columns: 100%!important;
        grid-template-rows: repeat(4, 43px) 130px!important;
        textarea {
            grid-area: initial;
            padding-left: 10px;
        }
        input:last-child {
            grid-area: initial!important;
        }
        input {
            padding-left: 10px!important;
        }
    }
    .conact_form {
        padding: 20px;
    }
}

@media (max-width:574px) {
    .coaching h2 {
        font-size: 10vw!important;
    }
    .meal_form h2 {
        font-size: 10vw!important;
    }
    .meal_form_header p {
        font-size: 5vw!important;
    }
    .meal_form {
        padding: 50px!important;
    }
}

@media (max-width:632px) {
    .slider_text h2 {
        font-size: 9vw!important;
    }
}

@media (max-width:637px) {
    .benefit h2 {
        font-size: 10vw!important;
    }
}

@media (max-width:668px) {
    .coaching_card_text {
        padding: 0;
    }
}

@media (max-width:700px) {
    .footer_top {
        grid-template-columns: 100%!important;
        row-gap: 40px;
    }
    .h_text h1 {
        font-size: 10vw!important;
    }
}

@media (max-width:770px) {
    .meal_form form {
        grid-template-columns: 100%!important;
        row-gap: 5px;
        height: initial!important;
        input[placeholder] {
            padding-left: 15px!important;
            height: 43px;
        }
    }
}

@media (max-width:792px) {
    .nav_links_wrapper ul li:not(:last-child) {
        display: none;
    }
    nav {
        grid-template-columns: 100px 109.72px;
    }
    .nav_links_wrapper {
        display: flex;
        align-items: center;
    }
    .burger_btn_wrapper {
        display: block;
    }
}

@media (max-width:811px) {
    .font90 {
        font-size: 10vw!important;
    }
    .header_text {
        width: auto!important;
    }
}

@media (max-width:860px) {
    .meal_form_header {
        padding: 0!important;
    }
}

@media (max-width:886px) {
    .coaching h2 {
        padding: 0!important;
    }
}

@media (max-width:912px) {
    .coaching_card_wrapper {
        grid-template-columns: 70%!important;
        justify-content: center!important;
    }
}

@media (max-width:1106px) {
    .social_media_links {
        height: initial!important;
        a {
            padding: 111px 50px!important;
        }
    }
}

@media (max-width:1018px) and (min-width:701px) {
    .footer_top .footer_top_card:first-child {
        grid-column: 1/span 2;
    }
    .footer_top .footer_top_card:last-child {
        justify-self: center;
    }
    .footer_top {
        grid-template-columns: 40% 60%!important;
        row-gap: 20px;
    }
}

@media (max-width:1034px) {
    .slider {
        grid-template-columns: 100%;
    }
    .slider_photo {
        margin-bottom: 30px;
    }
}

@media (max-width:1063px) {
    .benefit {
        grid-template-columns: 100%;
        padding-top: 30px!important;
        h2 {
            margin-top: 50px!important;
        }
        .benefit_img {
            margin-top: 15px;
        }
    }
}

@media (max-width:1092px) {
    .meal {
        background-position: initial!important;
    }
}

@media (max-width:1215px) {
    .coaching_card_text {
        padding: 0!important;
    }
}

@media (max-width:1470px) {
    .workout_cards_wrapper {
        grid-template-columns: 100%;
    }
}